@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
  }
}

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.menu-btn {
  display: inline-flex;
  border: none;
  outline: none;
  background-color: transparent;
}

.menu-btn .icon-cross {
  display: none;
}

.menu-btn.is-open .icon-cross {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

.menu-btn:hover .mobile-menu,
.menu-btn:focus .mobile-menu {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.mobile-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 40px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 100;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 305px;
  }
}

.navigation__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navigation__list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__list-item {
  transition: padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation__list-item:hover, .navigation__list-item--curent {
    padding-bottom: 8px;
  }
}

.navigation__list-link {
  position: relative;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .navigation__list-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.navigation__list-link:focus, .navigation__list-link:hover {
  color: #2196f3;
}

.navigation__list-link--curent {
  color: #2196f3;
}

.navigation__list-link::after {
  content: "";
  display: flex;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation__list-link::after {
    bottom: -8px;
  }
}

.navigation__list-link--curent::after {
  opacity: 1;
}

.navigation__list-item:hover .navigation__list-link::after {
  opacity: 1;
}

.authorization-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .authorization-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .authorization-list {
    flex-direction: row;
    align-items: center;
  }
  .authorization-list__item + .authorization-list__item {
    margin-left: 50px;
  }
}

.authorization-list__link {
  font-size: 18px;
  line-height: 1.16;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
}

@media screen and (min-width: 768px) {
  .authorization-list__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .authorization-list__link {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

.authorization-list__link:hover, .authorization-list__link:focus {
  color: #2196f3;
}

.authorization-list__item + .authorization-list__item {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .authorization-list__item + .authorization-list__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .authorization-list__item {
    text-align: center;
  }
  .authorization-list__item + .authorization-list__item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.authorization-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.authorization-list__link:focus .authorization-icon,
.authorization-list__link:hover .authorization-icon {
  fill: #2196f3;
}

.studio-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #212121;
}

.studio-logo__item {
  color: #2196f3;
}

.studio-logo__item--black {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .studio-logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

/*=============   HERO   ==============*/
/*Секція герой */
.hero {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 400px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.5)), url("/img/herobg/img-m.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.5)), url("/img/herobg/img-m@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.5)), url("/img/herobg/img-t.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.5)), url("/img/herobg/img-t@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/herobg/img-d.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/herobg/img-d@2x.jpg");
  }
}

.hero__button {
  /* font-family: inherit; */
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #2196f3;
}

.hero__title {
  margin: 0 auto 30px auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* Секція особливості*/
/*=============   FEATURES   ==============*/
/*переводим вертикальний список в горизонтальний */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .features__item:not(:last-child) {
    margin: 0 30px 0 0;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.svg-container {
  margin-bottom: 30px;
  padding: 25px 0;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.svg-container__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
}

.ourwork {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .ourwork {
    display: none;
  }
}

.ourwork__list {
  display: flex;
}

.ourwork__list-item:not(:last-child) {
  margin-right: 30px;
}

.ourwork__link {
  display: block;
  position: relative;
}

.ourwork__overlay-label {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:focus, .filter-btn:hover {
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
}

.filter-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
}

@media screen and (max-width: 479px) {
  .filter-btn-list__item:not(:last-child) {
    margin-bottom: 15px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .filter-btn-list__item:not(:nth-child(3n)) {
    margin-right: 8px;
  }
  .filter-btn-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter-btn-list {
    justify-content: center;
    margin-bottom: 30px;
  }
  .filter-btn-list__item + .filter-btn-list__item {
    margin-left: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-btn-list {
    margin-bottom: 50px;
  }
}

.ourteam {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .ourteam {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .ourteam__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.ourteam__list-foto {
  text-align: center;
  padding-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 1199px) {
  .ourteam__list-foto:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .ourteam__list-foto:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .ourteam__list-foto:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ourteam__list-foto:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.ourteam__list-image {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .ourteam__list-image {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .ourteam__list-image {
    width: 270px;
    height: 260px;
  }
}

.ourteam__subject {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.ourteam__heading {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:focus, .socials__link:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.socials__link:focus,
.socials__link:hover .social-svg {
  fill: #ffffff;
}

.social-svg {
  align-self: center;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/*=============   regular-clients   ==============*/
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1600px) {
  .clients__list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:focus, .clients__link:hover {
  border: 1px solid #2196f3;
}

.clients__link:focus .clients__svg,
.clients__link:hover .clients__svg {
  fill: #2196f3;
}

.clients__svg {
  align-self: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  /* align-content: center; */
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__studio-logo {
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: space-between;
  }
}

/*1 секція*/
.footer-contacts {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    text-align: start;
  }
}

@media screen and (max-width: 767px) {
  .footer-join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-join {
    margin-top: 12px;
  }
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}

.social__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-svg--color {
  fill: #ffffff;
}

.adress__list-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__list-link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.adress__list-link--color {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 12px;
  }
}

.subscribe-form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

.subscribe-form__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.subscribe-form__field {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 1200px) {
  .subscribe-form__field {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscribe-form__button {
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
  text-align: left;
}

.subscribe-form__logo {
  position: absolute;
  top: 13px;
  right: 28px;
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .projects__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.projects__list-card-link {
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
}

.projects__list-card:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__list-card {
    width: calc((100% - 30px) / 2);
  }
  .projects__list-card:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .projects__list-card:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__list-card {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 3);
  }
  .projects__list-card:nth-child(3n) {
    margin-right: 0;
  }
  .projects__list-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.projects__list-card:hover, .projects__list-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__list-card-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 10px;
  width: 100%;
  height: 100%;
  font-size: 4vw;
  line-height: 1.56;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .projects__list-card-label {
    font-size: 18px;
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .projects__list-card-label {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__list-card-label {
    padding: 63px 24px;
  }
}

.projects__list-card:hover .projects__list-card-label {
  transform: translateY(0);
}

.projects__list-card-link:focus .projects__list-card-label {
  transform: translateY(0);
}

.projects__list-card-img {
  max-width: 100%;
  height: auto;
}

.projects__list-card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects__list-card-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__list-card-text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  max-width: 450px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-modal:hover .close-icon,
.close-modal:focus .close-icon {
  fill: #2196f3;
}

.close-icon {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form__window {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  padding: 11px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input:focus, .form__comment:focus {
  outline: none;
  border-color: #2196f3;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__icon {
  position: absolute;
  top: 33px;
  left: 15px;
}

.form__comment {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__text {
  margin-bottom: 30px;
  text-align: center;
}

.form__link {
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__policy {
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__agreement {
  display: inline-block;
}

.form__agreement::before {
  content: "";
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background-image: url("/img/uncheck.svg");
  background-color: #ffffff;
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox:checked + .form__agreement::before {
  background-image: url("/img/check.svg");
  background-color: #2196f3;
  border-radius: 2px;
}

.form__button {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */