/*=============   regular-clients   ==============*/

.clients {
  margin: 0 auto;
  padding-bottom: 94px;
  padding-top: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: $main-text-color;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* !!!  вище треба прописати мінусовий -15 margin  !!!*/

  &__item {
    width: calc((100% - 5 * 30px) / 6);
    margin-right: 30px;

    &:hover .clients__icon {
      fill: $accent-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover {
      color: $accent-color;
      border-color: #2196f3;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus .clients__icon {
      fill: $accent-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
      color: $accent-color;
      border-color: #2196f3;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  /* .regular-clients-flex.list {
  display: flex;
} */
  &__icon {
    fill: #afb1b8;
  }
}
