/* Секція особливості*/
/*=============   FEATURES   ==============*/
/*переводим вертикальний список в горизонтальний */

.features {
  width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $white-color;
  margin: 0 auto;
  outline: 1px solid red;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 738px;
  }

  &__list {
    outline: 1px solid red;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
      // width: 768px;
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
    /*задаєм правий марджин для тексту, крім першого (бо перша вже не міє сестринської Item)*/
    & &-item + &-item {
      margin-top: 30px;
      // margin-left: 30px;
    }
  }
  &-item {
    outline: 1px solid red;
    @media screen and (min-width: 480px) and (max-width: 1199px) {
    }

    @media screen and (min-width: 1200px) {
      outline: 1px solid red;
      width: calc((100% - 90px) / 4);
    }
  }

  &__svg {
    margin: 0 auto;
    background-color: $background-grey-color;
    height: 120px;
    border-radius: 4px;
    padding: 25px 190px;

    @media screen and (min-width: 480px) and (max-width: 1199px) {
      width: 354px;
      height: 120px;
      padding: 25px 142px;
    }
  }

  &-item::before {
    display: block;
    content: "";
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: $main-text-color;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: $secondary-text-color;
    letter-spacing: 0.03em;
    height: 50px;
  }
}
