/* Секція особливості*/
/*=============   FEATURES   ==============*/
/*переводим вертикальний список в горизонтальний */

.features {
  padding-top: 94px;
  padding-bottom: 79px;
  background-color: $white-color;
  margin: 0 auto;

  &__list {
    display: flex;
    & &-item {
      width: calc((100% - 90px) / 4);
    }
    /*задаєм правий марджин для тексту, крім першого (бо перша вже не міє сестринської Item)*/
    & &-item + &-item {
      margin-left: 30px;
    }

    &-item::before {
      display: block;
      content: "";
      height: 120px;
      background: #f5f4fa;
      border-radius: 4px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: $main-text-color;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: $secondary-text-color;
    letter-spacing: 0.03em;
    padding: 0px;
    margin: 0px;
  }
}

.item-antenna::before {
  background-image: url(../img/features/antenna.svg);
  background-size: 70px;
}

.item-clock::before {
  background-image: url(../img/features/clock.svg);
  background-size: 70px;
}

.item-diagram::before {
  background-image: url(../img/features/diagram.svg);
  background-size: 70px;
}

.item-astronaut::before {
  background-image: url(../img/features/astronaut.svg);
  background-size: 70px;
}
