/*1 секція*/
.footer-contacts {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 231px;
  height: 132px;

  &__logo {
    display: flex;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $white-color;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }

  &__name {
    color: $accent-color;
  }
}

.footer__adress {
  display: block;

  &-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: auto;
  }
  &-list &-item + &-item {
    margin-top: 9px;
  }

  &-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }

  &-link--color {
    color: $white-color;
  }
}
