/*=============   OUR WORK   ==============*/

/*чим ми займаємось млдуль 3 вебінар 5 34 хвилина*/

/*видалити і переписати, для тега h2 дати інший клас!!!*/

.ourwork {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    width: calc((100% - 60px) / 3);
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__picture {
    display: block;
  }

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;

    &-label {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $white-color;
    }
  }
}
