/*=============   OUR TEAM   ==============*/
/* наша команда*/
.ourteam {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &__list {
    @extend %list;
    @media screen and (min-width: 768px) {
      display: flex;
      display: wrap;
    }

    /*задаєм правий марджин для картинок, крім першої (бо перша вже не міє сестринської Item)*/
    // & .ourteam__item {
    //   width: calc((100% - 3 * 30px) / 3);
    //   margin-right: 30px;
    // }
  }
  &__item {
    padding-bottom: 24px;
    width: 100%;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 1 * 30px) / 2);
      &:not(:nth-child(even)) {
        margin-right: 30px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 4);
      padding-bottom: 30px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__image {
    margin-bottom: 30px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }

  &__subject {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 16px;
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__social-list {
    @extend %list;
    display: flex;
    justify-content: center;
  }
  &_social-item {
    color: #afb1b8;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: #afb1b8;

    &:hover,
    &:focus {
      background-color: $accent-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .ourteam__social-svg,
    &:focus .ourteam__social-svg {
      fill: $white-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__social-svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}
