/*=====================    Портфоліо    =====================*/

/*  калькулятор  */
/*.team-item{
  width: calc((100% - 2 * 30px)/ 3);
*/

/* секція робіт з картинками*/
.projects {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /*забираємо правий марджин в кожного третього елемента*/
    & .projects__item:nth-child(3n) {
      margin-right: 0px;
    }

    /*забираємо нижній марджин в останніх трьох елементів*/
    & .projects__item:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  &__item {
    width: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__content {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;

    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $main-text-color;
      margin-bottom: 4px;
      margin: 0px 24px 0px;
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.87;
      color: $secondary-text-color;
      letter-spacing: 0.03em;
      margin: 0px 24px 0px;
    }
  }

  /* ======================= HOVER FOR IMAGE ====================*/
  /* ======================= HOVER FOR IMAGE ====================*/
  &__item-block {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    &:hover .projects__block {
      transform: translatey(0);
    }
  }

  &-link:hover &__block,
  &-link:focus &__block {
    transform: translateY(0%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__block {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
  }
}
