*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  background-color: $white-color;
  letter-spacing: 0.03em;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
